/* Admin Login Styles */
.admin-login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .admin-login-container h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #db0e0e;
  }
  
  .admin-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .admin-login-form label {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .admin-login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .admin-login-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .admin-login-button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: #ff0000;
    margin-top: 10px;
    font-size: 14px;
  }
  

  /* Admin Dashboard Styles */
.admin-dashboard-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .admin-dashboard-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #007bff;
  }
  
  .admin-dashboard-section {
    margin-top: 20px;
  }
  
  .admin-dashboard-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .admin-dashboard-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .admin-dashboard-button:hover {
    background-color: #0056b3;
  }

  .admin-logout-btn{
    background-color: #e12814;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
  }
  .admin-logout-btn:hover {
    background-color: #5e0303;
  }
  